@import "module/base.scss";
@import "module/aside.scss";
@import "module/header.scss";
@import "module/footer.scss";
main {
    width: 100%;
    position: relative;
    .products-container {
        width: 1200px;
        margin: 40px auto;
        .import-container {
            width: 1200px;
            height: 460px;
            .import-title {
                width: 236px;
                height: 460px;
                float: left;
                text-align: center;
                h2 {
                    width: 236px;
                    height: 50px;
                    line-height: 50px;
                    background: #333333;
                    border-top-left-radius: 5px;
                    a {
                        color: #fff;
                    }
                }
                .picture {
                    width: 236px;
                    height: 400px;
                    margin-top: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        animation: rg 0.2s ease-out;
                    }
                    @keyframes rg {
                        from {
                            margin-left: -236px;
                        }
                        to {
                            margin-left: 0px;
                        }
                    }
                }
            }
            .import-fruits {
                width: 709px;
                height: 469px;
                float: left;
                margin-left: 10px;
                ul {
                    width: 709px;
                    height: 469px;
                    font-size: 12px;
                    li {
                        float: left;
                        width: 25%;
                        height: 50%;
                        &:after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                        .img-container {
                            width: 170px;
                            height: 169px;
                            overflow: hidden;
                        }
                        &:hover {
                            img {
                                transform: scale(1.1);
                                transition: 0.5s;
                            }
                        }
                        .fruits-inner {
                            margin-right: 10px;
                            text-align: center;
                            >a {
                                display: block;
                                border: 1px dashed #f8f8f8;
                                margin-bottom: 10px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            a {
                                color: #333;
                            }
                            #fruits-price {
                                line-height: 16px;
                                font-size: 16px;
                                color: red;
                                display: inline-block;
                                margin-bottom: 5px;
                            }
                            h3 {
                                line-height: 18px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .import-right {
                width: 234px;
                height: 460px;
                float: right;
                background: #f6f5f4;
                #fruits-names {
                    width: 234px;
                    height: 251px;
                    display: flex;
                    font-size: 12px;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-content: space-around;
                    li {
                        width: 102px;
                        height: 50px;
                        background: #fff;
                        text-align: center;
                        line-height: 50px;
                        a {
                            color: black;
                            cursor: pointer;
                        }
                    }
                }
                .image {
                    display: inline-block;
                    width: 234px;
                    height: 211px;
                    animation: run 0.3s ease-out;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    @keyframes run {
                        from {
                            margin-left: -1200px;
                        }
                        to {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
    .news-container {
        width: 100%;
        background: #f6f6f6;
        .news {
            width: 1200px;
            height: 676px;
            margin: 20px auto;
            position: relative;
            .news-left {
                left: 0;
                width: 389px;
                height: 558px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .news-right {
                width: 738px;
                height: 558px;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 0;
            }
            h2 {
                font-weight: 400;
                font-size: 30px;
            }
            #English {
                color: #000;
            }
            #chinese {
                color: red;
            }
            ol {
                overflow: hidden;
                li {
                    width: 100%;
                    height: 50px;
                    border-bottom: 1px dashed #ebebeb;
                    font-family: 微软雅黑;
                    font-size: 15px;
                    line-height: 66px;
                    position: relative;
                    span {
                        position: absolute;
                        color: #868686;
                        right: 35px;
                    }
                    a {
                        display: inline-block;
                        width: 90%;
                        color: #373737;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .promise-wrap {
        width: 100%;
        position: relative;
        margin-top: 20px;
        .promises {
            width: 1200px;
            margin: 0 auto;
            height: 80px;
            li {
                width: 25%;
                float: left;
                .inner {
                    position: relative;
                    a {
                        display: inline-block;
                        width: 55px;
                        position: absolute;
                        height: 55px;
                        left: 35px;
                        top: 13px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    span {
                        display: inline-block;
                        height: 55px;
                        padding-left: 124px;
                        line-height: 87px;
                        font-size: 22px;
                        color: #404040;
                        font-family: 微软雅黑;
                    }
                }
            }
        }
    }
    .links-wrap {
        width: 1200px;
        margin: 50px auto;
        height: 200px;
        position: relative;
        .codes {
            width: 470px;
            height: 200px;
            float: left;
            position: relative;
            .img {
                width: 120px;
                height: 120px;
            }
            .code1 {
                position: absolute;
                top: 20px;
                left: 0;
            }
            .code2 {
                position: absolute;
                top: 20px;
                right: 0;
            }
        }
        dl {
            float: left;
            width: 202px;
            height: 200px;
            margin-left: 35px;
            dt {
                font-size: 18px;
                color: #3f3f3f;
                line-height: 36px;
                margin-bottom: 5px;
                span {
                    display: inline-block;
                    width: 40px;
                    height: 36px;
                    vertical-align: -8px;
                }
                .news {
                    background: url(/imgs/links3.jpg) no-repeat 0 0;
                }
                .aboutUs {
                    background: url(/imgs/links1.jpg) no-repeat 0 0;
                }
                .showList {
                    background: url(/imgs/links2.jpg) no-repeat 0 0;
                }
            }
            dd {
                font-size: 14px;
                line-height: 28px;
                padding-left: 40px;
                a {
                    color: #747474;
                }
            }
        }
    }
}